doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1")
		block title
			title Starter HTML Template by Dezineleo
		link(rel="icon" type="image/png" href="img/favicon-16x16.png" sizes="16x16")
		link(rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32")
		link(rel="icon" type="image/png" href="img/favicon-64x64.png" sizes="64x64")
		link(rel="stylesheet" href="css/plugins.min.css")
		link(rel="stylesheet" href="css/style.css")
	block content
